:root {
  --black: #151518;
  --white: #ffffed;
  --primary: #ff6542;
  --secondary: #c4482c;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#editor {
  flex-grow: 1;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 1rem;

  background-color: var(--black);
  color: var(--white);
  font-size: 1.5rem;
  font-family: monospace;
  tab-size: 4;
  resize: none;
}

#toolbar {
  box-sizing: border-box;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: var(--primary);
}

#save {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;
  margin-right: auto;

  cursor: pointer;
  background: none;
  color: var(--white);
  font-size: 1.5rem;
  font-family: monospace;
}

#save:hover {
  background: var(--secondary);
}

.stat {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  margin-left: 1.5rem;

  color: var(--white);
  font-size: 1.5rem;
  font-family: monospace;
}
