body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#editor {
  flex-grow: 1;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 1rem;

  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-family: monospace;
  resize: none;
}

#toolbar {
  box-sizing: border-box;
  padding-left: 1rem;

  background-color: red;
}

#save {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;

  cursor: pointer;
  background: blue;
  color: white;
  font-size: 1.5rem;
  font-family: monospace;
}

#save:hover {
  background: green;
}
